.about {
    z-index: 3;
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.skillsTitle {
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Space Grotesk',sans-serif;
    text-align: center;
    color: white;
    font-size: 2.7rem;
    margin: 2rem;
}

.skillsDesc {
    
    color: white;
    text-align: center;
    margin-bottom: 3rem;
}

.skillbars {
    box-shadow: rgb(248 0 0 / 0%) 0px 1px 3px 0px, rgb(0 97 195 / 79%) 0px 0px 0px 1px;
    /* border: 1px solid red; */
    height: 5rem;
    width: 44rem;
    margin: 1rem auto;
    border-radius: 1rem;
    background-color: #051022e8;
    display: flex;

}

.barimg {
    width: 4rem;
    padding: 0.2rem;
    margin: 0.4rem 0.7rem;
}

.barText {
    padding: 0.3rem;
    margin: 0.3rem;
}

.barHead {
    margin: 0;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    /* text-align: center; */

}

.barBody {
    margin-top: 0.5rem;
    color: white;
    text-align: center;
}
